---
import '../styles/global.css'

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { 
  title = "Mis 15 Años - Valery García", 
  description = "Acompáñame a celebrar una noche mágica e inolvidable. ¡Estás invitado!",
  image = "/image-1.jpg" // Asegúrate de tener una foto en public/og-image.jpg
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">
    
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.url.origin}/og-image.png`} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${Astro.url.origin}/og-image.png`}  />

    <meta name="theme-color" content="#FFD1DC" />
  </head>
  <body class="bg-brand-light">
    <slot />
  </body>
</html>

<style is:global>
  /* Usamos is:global para que afecte a toda la app */
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth; /* Para que los saltos de sección sean fluidos */
  }

  body {
    overflow-x: hidden; /* Evita scrolls horizontales accidentales por las animaciones */
  }
</style>